<h2 id="modal-activity">Nieuwe Activiteit</h2>

<form action="/Activity/Create" method="post">
    <fieldset class="editor" id="new_activity_container">
        <legend>Activity</legend>

        <div class="editor-label">
            <label for="Activity">Activiteit</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" maxlength="100"  id="new_activity_name" name="Activity.Name" type="text" value="" />
        </div>
        <div class="editor-label">
            <label for="Activity_Subject">Onderwerp</label>
        </div>
        <div class="editor-field">
            <select data-bind="options: $root.subjects, optionsText: 'Name', optionsValue: 'SubjectId' "  id="new_activity_subject" name="Activity.SubjectId" class="subject"  name="Activity.SubjectId"></select>
        </div>
            
        <div class="editor-label">
            <label for="Activity_Active">Aktief</label>
        </div>
        <div class="editor-field">
            <input class="check-box" id="new_activity_active" name="Activity.Active" type="checkbox" checked="true">
        </div>
    
        <p>
            <input id="save_new_activity_button" type="button" value="Opslaan"  data-bind="click: saveNewActivity" />
        </p>
    </fieldset>
</form>
