<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DefaultConnection" 
        connectionString="Server=4b2f4ede-932e-496a-b942-a16b013eaa18.sqlserver.sequelizer.com;Database=db4b2f4ede932e496ab942a16b013eaa18;User ID=tveztbsbwgdaipdu;Password=ozrDAvKfjcXibmrPM25CDPT2pPXjibNbZ8UR3gByoeTSnHaQ8AvAPNtGNxpTFA5h;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>