@{
    ViewBag.Title = "Aventurijn - Oops";
}

<h2>Probleem (500)</h2>

<h4>Oops er is iets verkeerd gegaan!</h4>
<p>
    Sorry voor het ongemak, wanneer dit probleem zich voor blijft doen, neem dan contact op met de site beheerder.
</p>
