@{
    ViewBag.Title = "Aventurijn - Pagina niet gevonden";
}


<h2>Pagina niet gevonden (404)</h2>

<h4>Oops, de pagina die je probeert te openen bestaat niet (meer)!</h4>
<p>
    Sorry voor het ongemak, controleer de url, klik op het logo om naar de startpagina te gaan.<br />
    Of gebruik het menu om naar de gewenste pagina te navigeren.
</p>
<p>De url die je probeerde te openen is: @ViewBag.OriginalUrl </p>

<p></p><p></p>