@model Aventurijn.Activities.Web.Models.Domain.Level

@{
    ViewBag.Title = "Avonturijn - Bouw Details";
}

<h2>Bouw details</h2>

<fieldset class="tabular">
    <legend>Bouw</legend>

     <div class="row">
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>    
     </div>
</fieldset>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id=Model.LevelId }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
