@{
    ViewBag.Title = "Aventurijn - Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefoon</h3>
    </header>
    <p>
        <span class="label">Regulier:</span>
        <span>055-5051222</span>
    </p>
    <p>
        <span class="label">Fax:</span>
        <span> 055-5051222</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Informatie:</span>
        <span><a href="mailto:infoataventurijn.org">info at aventurijn.org</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Stichting Aventurijn<br />
        Voorsterweg 1<br />
        7371 GA Loenen
    </p>
</section>