@model Aventurijn.Activities.Web.Models.ViewModel.ParticipationsViewModel

@{
    ViewBag.Title = "Aventurijn - Puntjes";
}

<h2>Puntjes</h2>

<p>
    @Html.ActionLink("Nieuw", "Create")
</p>
<div id="participations_table">
<form id="studentForm" method="post" action="/participation/save" data-bind="submit: save">
    <table class="data"  data-bind="visible: participations().length > 0">
        <thead>
            <tr>
                <th class="">Leerling</th>
                <th class="">Activiteit</th>
                <th class="">Onderwerp</th>
                <th class="">Deelname</th>
                <th class="">Extra</th>
                <th class="">Datum</th>  
                <th></th>  
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'participations-template', foreach: participations, as: 'participation'}"></tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <div class="loading-container" data-bind="if: loading().length">
                        <div class="loader">
                            Loading... 
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <button id="new_participation" type="button"data-bind='click: addParticipation' >Nieuw</button> 
    <button id="save_participations" data-bind="enable: participations().length > 0" type="submit" >Opslaan</button>
</form>
</div>
<!--        TEMPLATES       -->
<script type="text/html" id="participations-template">
    <tr>
        <input type="hidden" data-bind="value: ParticipationId"/>
        <input type="hidden" data-bind="value: StudentId"/>
        <input type="hidden" data-bind="value: ActivityId"/>
        <input type="hidden" data-bind="value: Activity.SubjectId"/>
        <td class="">
            <select data-bind="options: $root.students, optionsText: 'Name', optionsValue: 'StudentId', value: participation.StudentId, optionCaption: 'Selecteren...' "></select>
        </td> 
        <td data-bind="text: Activity.Name" class=""></td>
        <td data-bind="text: Activity.Subject.Name" class=""></td>
        <td class=""><input type="checkbox" data-bind="checked: Participating" /></td>
        <td data-bind="text: ExtraInfo" class=""></td>        
        <td data-bind="text: ParticipationDateTimeAsString" class=""></td>
        <td> <a href="#" class="org-edit" data-bind="attr: { 'data-current': ParticipationId }" >Aanpassen</a> | 
             <a href="#" class="delete" data-bind='click: $root.removeParticipation' >Verwijderen</a>
        </td>
    </tr>
</script>


@section Scripts {
@{
string data = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
}
    <script type="text/javascript"> 
        var initialData = @Html.Raw(data);

        var allParticipations = new participations(initialData);
        ko.applyBindings(allParticipations, document.getElementById('participations_table'));
        
        $('#save_participations').click(function() {
            allParticipations.save();
        });
        
         $('.org-edit').click(function() {
             var link = $(this);
             var id = link.attr('data-current');
             window.location.href = '/participation/edit/'+id;
        });

        //link.parents('tr').find('#student_' + id).hide();
        //link.parents('tr').find('#student_editor_' + id).show();
    </script>
}