@model IEnumerable<Aventurijn.Activities.Web.Models.Domain.Participation>

@{
    ViewBag.Title = "Aventurijn - Puntjes";
}

<h2>Puntjes</h2>

<p>
    @Html.ActionLink("Nieuw", "Create")
</p>
<form id="studentForm" method="post" action="">
    <table class="data" id="participations_table">
        <thead>
            <tr>
                <th class="">Leerling</th>
                <th class="">Activiteit</th>
                <th class="">Onderwerp</th>
                <th class="">Deelname</th>
                <th class="">Extra</th>
                <th class="">Datum</th>  
                <th></th>  
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'participations-template', foreach: participations, as: 'participation'}"></tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <div class="loading-container" data-bind="if: loading().length">
                        <div class="loader">
                            Loading... 
                        </div>
                    </div>
                </td>
            </tr>
      </tfoot>
    </table>
  </form>
<!--        TEMPLATES       -->
<script type="text/html" id="participations-template">
    <tr>
        <td data-bind="text: Student.Name" class=""></td> 
        <td data-bind="text: Activity.Name" class=""></td>
        <td data-bind="text: Activity.Subject.Name" class=""></td>
        <td class=""><input type="checkbox" data-bind="checked: Participating" /></td>
        <td data-bind="text: ExtraInfo" class=""></td>        
        <td data-bind="text: ParticipationDateTimeAsString" class=""></td>
        <td> <a href="#" class="edit" data-bind="attr: { 'data-current': ParticipationId }" >Edit</a> | <a href="#" class="org-edit" data-bind="attr: { 'data-current': ParticipationId }" >Aanpassen</a> </td>
    </tr>
</script>


@section Scripts {
@{
string data = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
}
    <script type="text/javascript"> 
        var initialData = @Html.Raw(data);

        var allParticipations = new participations(initialData);
        ko.applyBindings(allParticipations, document.getElementById('participations_table'));
        
        $('.edit').click(function() {
            var link = $(this);
            var id = link.attr('data-current');
            link.parents('tr').find('#student_' + id).hide();
            link.parents('tr').find('#student_editor_' + id).show();
        });
        
         $('.org-edit').click(function() {
             var link = $(this);
             var id = link.attr('data-current');
             window.location.href = '/participation/edit/'+id;
    
        });
    </script>
}